---
import Layout from '@/layouts/Layout.astro'
import Section01 from '@/components/Section01.astro'
import Section02 from '@/components/Section02.astro'
import Section03 from '@/components/Section03.astro'
import Section04 from '@/components/Section04.astro'
import Section05 from '@/components/Section05.astro'
import Section06 from '@/components/Section06.astro'
import Section07 from '@/components/Section07.astro'
import Section08 from '@/components/Section08.astro'
import Section09 from '@/components/Section09.astro'
import Section10 from '@/components/Section10.astro'
---

<Layout>
	<main class="overflow-clip">
		<Section01 />
		<Section02 />
		<div id="scroll-container">
			<div id="scroll-wrapper">
				<Section03 />
				<Section04 />
				<Section05 />
				<Section06 />
				<Section07 />
				<Section08 />
				<Section09 />
				<Section10 />
			</div>
		</div>
	</main>
</Layout>
