---
import SvgLogo from '@/assets/icons/logo.svg'
---

<footer class="bg-lime-300 py-12 text-center text-sm">
	<div class="container space-y-3">
		<p>Eltiempo Content para</p>

		<SvgLogo class="mx-auto my-6 w-24" />

		<p class="font-bold uppercase">
			<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/bc/eltiempocontent/">La fábrica de contenidos de ElTiempo </a>
			<span>|</span>
			<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/bc/marcasresponsables/">Marcas Responsables</a>
		</p>

		<p>
			<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/legal/politica-privacidad.html">Política de privacidad</a>
			<span>|</span>
			<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/legal/condiciones-generales.html">Aviso legal</a>
			<span>|</span>
			<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/legal/politica-cookies.html">Política de cookies</a>
		</p>

		<hr class="mx-auto w-64" />

		<p>
			<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/">© eltiempo, Pelmorex Weather Networks 2025</a>
		</p>
	</div>
</footer>
