---
import SvgLogo from '@/assets/icons/logo.svg'
---

<header class="absolute inset-x-0 top-18 z-10 flex items-center justify-between px-12 text-white">
	<a class="w-16" href="/">
		<span class="mb-1 block text-xs font-bold whitespace-nowrap uppercase">Un proyecto de</span>
		<SvgLogo />
	</a>
	<span class="font-bold text-lime-300 uppercase">Experiencias inolvidables</span>
</header>
