---
import SvgChevronLeft from '@/assets/icons/chevron-left.svg'
import SvgElTiempo from '@/assets/icons/eltiempo.svg'
---

<nav class="absolute inset-x-0 top-0 z-20 flex h-[48px] items-center justify-between bg-white/90 px-[24px] shadow backdrop-blur lg:px-[48px]">
	<button class="w-[32px] cursor-pointer text-black" onclick="history.back()" aria-label="Back">
		<SvgChevronLeft class="stroke-3" />
	</button>

	<a class="w-[96px]" target="_blank" rel="noreferrer" href="https://eltiempo.es" aria-label="ElTiempo"><SvgElTiempo class="text-[#04aeef]" /></a>

	<span class="w-[32px]"></span>
</nav>
