---
import videoHero from '@/assets/videos/hero.mp4'
---

<section class="relative flex min-h-screen items-center bg-black pt-48 pb-12 text-white">
	<video class="absolute top-0 left-0 size-full object-cover opacity-40" src={videoHero} loop muted autoplay playsinline></video>
	<div class="group reveal relative container text-center">
		<h1 class="text-6xl font-black uppercase group-reveal:translate-y-24 group-reveal:opacity-0 md:text-7xl">Road trip</h1>

		<h2 class="my-6 font-serif text-4xl font-medium text-neutral-200 group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-100 md:text-5xl">
			Por la Sierra de Grazalema y los Pueblos Blancos
		</h2>

		<p class="text-3xl font-black text-lime-300 uppercase group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-200 md:text-4xl">
			¡Vive el Carnaval de Cádiz al máximo!
		</p>

		<div
			class="mx-auto my-12 max-w-3xl space-y-6 bg-black/10 p-12 text-left backdrop-blur group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-300"
		>
			<p class="text-lg font-bold">La máxima eficiencia en curvas, un maletero espacioso y un consumo bajo incluso en invierno.</p>
			<p class="text-lg text-neutral-400 uppercase">No diremos que está sincronizado con las fiestas… ¡pero casi!</p>
			<hr class="border-neutral-600" />
			<p class="text-neutral-400">
				Prepárate para disfrutar de un break invernal inolvidable al volante del <a class="text-lime-300 underline" target="_blank" href="">Opel Corsa Hybrid</a
				>, el compañero ideal para quienes entienden el viaje como parte esencial de la aventura.
			</p>
		</div>

		<p class="font-light tracking-widest text-lime-300 uppercase"><small>▼</small> Desliza hacia abajo</p>
	</div>
</section>
