---
import { Image } from 'astro:assets'
import img08 from '@/assets/images/CORSA.png'
---

<section class="relative flex items-center bg-lime-300 py-12 xl:min-h-screen">
	<Image class="absolute bottom-0 left-0 w-80 max-xl:hidden" src={img08} width={320} densities={[2]} alt="" />

	<div class="group reveal relative container">
		<div class="mx-auto max-w-3xl space-y-6 text-center">
			<h2 class="font-serif text-5xl text-balance italic group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-100">
				Te hemos puesto los dientes largos, lo sabemos. ¡La culpa es del planazo, no nuestra!
			</h2>
			<p class="text-balance group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-200">
				Seguro que ya estás pensando: “vale, ¿y ahora qué?”. Aquí va una idea sencilla: <strong>reserva un test drive en tu concesionario Opel</strong> y empieza
				a imaginar tu propio carnaval sobre ruedas. Febrero es el momento perfecto para hacerlo realidad.
			</p>
			<h3 class="text-4xl font-black text-balance group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-300 md:text-6xl">
				Haz de febrero tu carnaval sobre ruedas con Opel.
			</h3>
			<p class="my-12 group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-400">
				<a
					class="inline-block bg-black px-6 py-3 text-white uppercase transition-transform hover:scale-95"
					target="_blank"
					rel="sponsored"
					href="https://www.opel.es/ofertas/promociones-particulares/opel-corsa-termico.html?utm_source=El_Tiempo&utm_medium=SOC-CON&utm_campaign=Opel_Corsa_Content_Febrero_2026_ES_OP_VN_Corsa_OnGoing_SOC-CON_DA1_BRD_REACH_NA_NA_Branded_Content&partner_uid=HashedMail"
					>Reserva tu Test Drive</a
				>
			</p>
			<p class="group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-500">
				<span class="block font-serif font-bold"
					>Fiesta, aventura y cero preocupaciones te esperan al volante del <a
						class="underline"
						target="_blank"
						rel="sponsored"
						href="https://www.opel.es/ofertas/promociones-particulares/opel-corsa-termico.html?utm_source=El_Tiempo&utm_medium=SOC-CON&utm_campaign=Opel_Corsa_Content_Febrero_2026_ES_OP_VN_Corsa_OnGoing_SOC-CON_DA1_BRD_REACH_NA_NA_Branded_Content&partner_uid=HashedMail"
						>Opel Corsa</a
					>.</span
				>
				<span>Y créenos: en la práctica, es incluso mejor de lo que imaginas.</span>
			</p>
		</div>
	</div>
</section>
