---
import { Image } from 'astro:assets'
import img06 from '@/assets/images/image-06.webp'
import SvgIcon from '@/assets/icons/icon.svg'
---

<section class="relative flex items-center bg-lime-300 py-12 xl:min-h-screen">
	<Image class="absolute top-0 left-0 size-full object-cover opacity-20" src={img06} alt="" />
	<div class="group reveal container space-y-6 text-center">
		<SvgIcon class="mx-auto w-6 opacity-50" />
		<h2 class="mx-auto max-w-4xl font-serif text-5xl group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-100">
			Conducir por estas carreteras sinuosas se siente natural y fluido. El coche acompaña, no exige.
		</h2>
		<p class="text-lg group-reveal:translate-y-24 group-reveal:opacity-0 group-revealed:delay-200">
			Y eso eleva la experiencia: menos tensión, más disfrute, más conexión con el entorno.
		</p>
	</div>
</section>
