@import 'tailwindcss';

@view-transition {
	navigation: auto;
}

@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 200 800;
	font-display: 'swap';
	src: url(/manrope-200-800-normal.woff2) format('woff2');
}

@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400 900;
	font-display: 'swap';
	src: url(/playfair-display-400-900-normal.woff2) format('woff2');
}

@font-face {
	font-family: 'Unbounded';
	font-style: normal;
	font-weight: 200 900;
	font-display: 'swap';
	src: url(/unbounded-200-900-normal.woff2) format('woff2');
}

@theme {
	--default-transition-duration: 0.3s;
	--font-sans: 'Manrope', sans-serif;
	--font-serif: 'Playfair Display', sans-serif;
	--font-display: 'Unbounded', sans-serif;
	--breakpoint-sm: 28rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: initial;
	--color-lime-300: #f7ff14;
}

@layer base {
	html {
		@apply scroll-smooth antialiased max-[400px]:text-[4vw] min-[1536px]:text-[1.125vw] min-[1920px]:text-[20px];
	}
}

@layer components {
	[class*='reveal:'] {
		@apply group-revealed:transition-all group-revealed:duration-1000 revealed:transition-all revealed:duration-1000;
	}
}

@utility container {
	@apply mx-auto px-6 md:px-12;
}

@custom-variant reveal (&.reveal);
@custom-variant revealed (&.revealed);

@supports (animation-timeline: view()) {
	@keyframes scroll-move {
		to {
			transform: translateX(-700vw);
		}
	}
	@keyframes parallax-slow {
		from {
			transform: translateX(15vw);
		}
		to {
			transform: translateX(-15vw);
		}
	}
	@keyframes parallax-fast {
		from {
			transform: translateX(-15vw);
		}
		to {
			transform: translateX(15vw);
		}
	}
	@keyframes parallax-bg {
		from {
			transform: translateX(8vw);
		}
		to {
			transform: translateX(-8vw);
		}
	}
	@keyframes parallax-text {
		from {
			transform: translateX(6vw);
		}
		to {
			transform: translateX(-6vw);
		}
	}
	@media (width >= 80rem) {
		#scroll-container {
			@apply h-[800vw];
			view-timeline-name: --scroll-container;
		}
		#scroll-wrapper {
			@apply sticky top-0 grid w-[800vw] grid-cols-8 will-change-transform;
			animation: ease-out scroll-move forwards;
			animation-timeline: --scroll-container;
			animation-range: contain 0% contain 100%;
		}
		.parallax-slow {
			animation: ease-out parallax-slow forwards;
			animation-timeline: --scroll-container;
			animation-range: contain 0% contain 100%;
		}
		.parallax-fast {
			animation: ease-out parallax-fast forwards;
			animation-timeline: --scroll-container;
			animation-range: contain 0% contain 100%;
		}
		.parallax-bg {
			animation: ease-out parallax-bg forwards;
			animation-timeline: --scroll-container;
			animation-range: contain 0% contain 100%;
		}
		.parallax-text {
			animation: ease-out parallax-text forwards;
			animation-timeline: --scroll-container;
			animation-range: contain 0% contain 100%;
		}
	}
}
